createdAt: "2019-12-23T03:48:56.177Z"
updatedAt: "2019-12-23T03:49:01.104Z"
type: "MARKDOWN_NOTE"
folder: "3e4fb623d707702cf095"
title: "Role Duty"
tags: []
content: "Role Duty"
linesHighlighted: []
isStarred: false
isTrashed: false
