createdAt: "2020-07-13T02:51:35.929Z"
updatedAt: "2020-07-13T02:59:44.903Z"
type: "MARKDOWN_NOTE"
folder: "22da80d07048cd7d4424"
title: "工程師資歷的差別"
tags: []
content: '''
  # 工程師資歷的差別
  ***
  在寫程式的領域裡面，不一定
'''
linesHighlighted: []
isStarred: false
isTrashed: false
