createdAt: "2019-12-29T14:59:07.886Z"
updatedAt: "2019-12-29T14:59:16.511Z"
type: "MARKDOWN_NOTE"
folder: "f013db434d4af5817738"
title: "[Not Found – Medium](https://medium.com/@09mejohn/managing-sync-and-async-tasks-in-ios-de5e8c674fa"
tags: []
content: '''
  [Not Found – Medium](https://medium.com/@09mejohn/managing-sync-and-async-tasks-in-ios-de5e8c674fa
  https://medium.com/@rayane.kurrimboccus/common-problems-when-modularizing-an-ios-application-92976f94462e
  https://medium.com/@alfianlosari/building-responsive-and-adaptive-ios-app-with-uicollectionview-alfian-losari-c9c987ada14
  https://medium.com/better-programming/better-swift-codable-models-through-composition-a6b109b7e8c7
  https://medium.com/swlh/how-to-detect-app-first-time-launch-2dbeece7cc7b
  https://medium.com/swlh/create-loading-buttons-in-ios-using-swift-63ec77eebda
  https://medium.com/better-programming/ios-13-be-dynamic-with-diffabledatasource-56ed938a0325
  https://medium.com/better-programming/stylemanager-for-your-ios-app-with-swift-30ecd7c6015e
  https://medium.com/@ZkHaider/apples-new-uiscene-api-a-programmatic-approach-52d05e382cf2?
  https://medium.com/flawless-app-stories/reusable-image-cache-in-swift-9b90eb338e8d
  https://medium.com/swlh/viewdidload-vs-loadview-ddec6ac9bdd7
  https://medium.com/better-programming/swift-create-a-dynamic-popover-card-view-d6f274be0c6b
  https://medium.com/better-programming/surviving-rxswift-d6bfe562fb22
  https://medium.com/better-programming/how-to-write-an-ios-developer-resume-that-will-land-you-an-interview-43cf66c6d4fa
  https://medium.com/ynap-tech/automated-ios-code-reviews-with-swiftlint-and-danger-at-ynap-d38e87632d77
  
  https://www.zhihu.com/question/36509119/answer/131513261
  
  https://medium.com/better-programming/the-perfect-ios-app-architecture-24259417843f
  https://medium.com/better-programming/decoupling-display-and-logic-in-ios-4de5a334ffbd?
  https://medium.com/better-programming/an-example-of-a-scalable-ios-project-dce56a256106?
  https://medium.com/better-programming/an-example-of-a-scalable-ios-project-part-2-5c703d41f585?
  https://medium.com/ios-os-x-development/ios-architecture-patterns-ecba4c38de52
  https://github.com/uber/RIBs/wiki)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
