createdAt: "2019-12-20T05:54:41.115Z"
updatedAt: "2019-12-20T05:54:55.093Z"
type: "MARKDOWN_NOTE"
folder: "3e4fb623d707702cf095"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
