createdAt: "2019-12-24T09:09:43.287Z"
updatedAt: "2019-12-24T09:10:10.707Z"
type: "MARKDOWN_NOTE"
folder: "3e4fb623d707702cf095"
title: "開發架構{#Architecture}"
tags: []
content: '''
  # 開發架構{#Architecture} 
  ***
'''
linesHighlighted: []
isStarred: false
isTrashed: false
